.category-product-container {
    height: 600px;
    max-width: 1200px;
    width: 100%;
    margin-top: 50px;

    .left-container {
        width: 300px;
        height: 610px;
        border-radius: 5px;
        overflow: hidden;
    }
}
