:root {
    --color-primary: #0027F2;
    --color-primary-lighter: #1890FF;
    --color-primary-darker: #096DD9;

    --color-second: #D9D9D9;
    --color-txt-border: #BFBFBF;

    --color-border-bold: #8C8C8C;

    --spacing-xs: 3px;
    --spacing-sm: 5px;
    --spacing-md: 15px;
    --spacing-lg: 20px;
    --spacing-xl: 30px;
    --spacing-base: 15px;

    --fs-base: 14px;
    --fs-xs: 10px;
    --fs-sm: 12px;
    --fs-md: 14px;
    --fs-lg: 24px;
    --fs-xl: 30px;
}