:root {
  --color-primary: #0027f2;
  --color-primary-lighter: #1890ff;
  --color-primary-darker: #096dd9;

  --color-second: #d9d9d9;
  --color-txt-border: #bfbfbf;

  --color-border-bold: #8c8c8c;

  --color-tertiary: #025bbf;
  --color-theme: #f7ba01;
  --color-theme-primary: #ff6000;

  --spacing-xs: 3px;
  --spacing-sm: 5px;
  --spacing-md: 15px;
  --spacing-lg: 20px;
  --spacing-xl: 30px;
  --spacing-base: 15px;

  --fs-base: 14px;
  --fs-13: 13px;
  --fs-xs: 10px;
  --fs-sm: 12px;
  --fs-md: 14px;
  --fs-lg: 18px;
  --fs-xl: 20px;
  --fs-xl1: 24px;
  --fs-xl2: 28px;

  --fw-light: 300;
}
